<head>
    <title>Movies | Search</title>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Patua+One&display=swap" rel="stylesheet">
<style>
    form {
        margin: 2% 30%;
        font-family: 'Patua One', cursive;
    }
    h1 {
        margin-top: 3% ;
        font-family: 'Fredoka One', cursive;
    }
    h2 {
        margin-top: 1%;
        font-family: 'Patua One', cursive;
    }
    
    input {
        font-family: 'Patua One', cursive;
    }
</style>

<h1><center>Movies Database</center></h1>
<h2><center>Search for a Movie</center></h2>
<hr>
<form action="/results" method="GET">
    <input type="text" name="search" id="" placeholder="Eg. Se7en">
    <input type="submit">
</form>